body {
    font-family: Noto Serif;
    background-color: rgb(6, 7, 7);
    text-emphasis-color: red;
    padding-top: 0%;
    padding: 10px;
    color-adjust: rgb(235, 11, 11);
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: whitesmoke;
    padding: 10px;
}

div {
    order: 1;
    border-top-color: red;
    font-size: medium;
}

.container {
    color: rgb(219, 26, 26);
}

image {
    image-orientation: left;
}

.banner {
    /*padding-top: 0%;*/
    padding-top: 100px;
}

.text {
    order: 2;
    padding-right: 50px;
}

.image {
    order: 1;
    padding-left: 0px;
}

.discografia {
    color: whitesmoke;
}

.col-4 {
    margin: 0;
    padding: 0;
    box-sizing: border;
    font-size: 0;
    caption-side: right;
}

div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav {
    border-color: brown;
    color: brown;
    background-color: black;
}

button {
    width: clamp(100px, 75%, 200px);
}